<div class="container">
  <div class="row">
    <div class="col-lg-4 m-3">
      <div class="card text-center">
        <div class="card-body">
          <h5 class="card-title">Nueva tarea</h5>
          <form [formGroup]="formTodo" (submit)="addTODO(formTodo.value)">
            <div class="form-group">
              <input type="text" placeholder="titulo" class="form-control" formControlName="title">
            </div>
            <div class="form-group">
              <input type="text" placeholder="descripcion" class="form-control" formControlName="description">
            </div>
            <div align="center">
              <input type="submit" value="Guardar" class="btn btn-primary">
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="col-lg-4 m-3" *ngFor="let item of TODO, let i = index">
      <app-card
      [card]="item"
      [index]="i"
      (do)="completeTODO($event)"
      (delete)="removeTODO($event)"
      ></app-card>
    </div>
  </div>
</div>
